.header{
    height: 50px;
    width: 100%;
    padding: 15px 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    .theme{
    height: 50px;
    flex: 0 0 150px;
    background-image: url("./images/lightDark.svg");
    background-size: 35px;
    background-repeat: no-repeat;
    background-position: 10px 0px;
    padding-left: 50px;
    cursor: pointer;
    }
    .burg{
    height: 50px;
    flex: 0 0 50px;
    background-image: url("./images/menu.png");
    background-size: 40px;
    background-repeat: no-repeat;
    background-position: 10px 0px;
    padding-left: 50px;
    cursor: pointer;
    }
    p{
        font-size: 1rem;
        line-height: 35px;
   
    @media (width < 500px){
        font-size: 0.8rem;
    } }
}