.header{
    height: 50px;
    width: 100%;
    padding: 15px 50px;
    background-image: url("./images/lightDark.svg");
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: 10px 10px;
    cursor: pointer;
}